<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [29]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: ipython>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (7.33.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (3.4.1)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: jedi>=0.16 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: pexpect>4.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (65.3.0)
Requirement already satisfied: matplotlib-inline in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (4.11.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (4.3.0)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (3.8.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [5]:
%load_ext sql

In [6]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [7]:
!pip install -q pandas==1.1.5

In [8]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql SELECT DISTINCT LAUNCH_SITE FROM SPACEXTBL ORDER BY 1;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
%sql SELECT SUM (PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE CUSTOMER = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [13]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Booster_Version LIKE 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [14]:
%sql SELECT MIN(DATE) FROM SPACEXTBL WHERE Mission_Outcome LIKE '%Success%'

 * sqlite:///my_data1.db
Done.

[('01-03-2013',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [15]:
%sql select distinct Booster_Version from spacextbl where Mission_Outcome='Success' and PAYLOAD_MASS__KG_ between 4000 and 6000;

 * sqlite:///my_data1.db
Done.

[('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 B4 B1040.1',),
 ('F9 FT  B1031.2',),
 ('F9 FT  B1032.2',),
 ('F9 B4  B1040.2',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [16]:
%sql SELECT MISSION_OUTCOME, COUNT(*) FROM SPACEXTBL GROUP BY MISSION_OUTCOME;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [17]:
%sql SELECT BOOSTER_VERSION,PAYLOAD_MASS__KG_ FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [49]:
#%sql SELECT (DATE),MISSION_OUTCOME,BOOSTER_VERSION,LAUNCH_SITE FROM SPACEXTBL where (DATE) ='2015';
%sql SELECT DISTINCT (DATE)'2015', MISSION_OUTCOME, BOOSTER_VERSION,LAUNCH_SITE FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('04-06-2010', 'Success', 'F9 v1.0  B0003', 'CCAFS LC-40'),
 ('08-12-2010', 'Success', 'F9 v1.0  B0004', 'CCAFS LC-40'),
 ('22-05-2012', 'Success', 'F9 v1.0  B0005', 'CCAFS LC-40'),
 ('08-10-2012', 'Success', 'F9 v1.0  B0006', 'CCAFS LC-40'),
 ('01-03-2013', 'Success', 'F9 v1.0  B0007', 'CCAFS LC-40'),
 ('29-09-2013', 'Success', 'F9 v1.1  B1003', 'VAFB SLC-4E'),
 ('03-12-2013', 'Success', 'F9 v1.1', 'CCAFS LC-40'),
 ('06-01-2014', 'Success', 'F9 v1.1', 'CCAFS LC-40'),
 ('18-04-2014', 'Success', 'F9 v1.1', 'CCAFS LC-40'),
 ('14-07-2014', 'Success', 'F9 v1.1', 'CCAFS LC-40'),
 ('05-08-2014', 'Success', 'F9 v1.1', 'CCAFS LC-40'),
 ('07-09-2014', 'Success', 'F9 v1.1 B1011', 'CCAFS LC-40'),
 ('21-09-2014', 'Success', 'F9 v1.1 B1010', 'CCAFS LC-40'),
 ('10-01-2015', 'Success', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('11-02-2015', 'Success', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('02-03-2015', 'Success', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('14-04-2015', 'Success', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('27-04-2015', 'Success', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('28-06-2015', 'Failure (in flight)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('22-12-2015', 'Success', 'F9 FT B1019', 'CCAFS LC-40'),
 ('17-01-2016', 'Success', 'F9 v1.1 B1017', 'VAFB SLC-4E'),
 ('04-03-2016', 'Success', 'F9 FT B1020', 'CCAFS LC-40'),
 ('08-04-2016', 'Success', 'F9 FT B1021.1', 'CCAFS LC-40'),
 ('06-05-2016', 'Success', 'F9 FT B1022', 'CCAFS LC-40'),
 ('27-05-2016', 'Success', 'F9 FT B1023.1', 'CCAFS LC-40'),
 ('15-06-2016', 'Success', 'F9 FT B1024', 'CCAFS LC-40'),
 ('18-07-2016', 'Success', 'F9 FT B1025.1', 'CCAFS LC-40'),
 ('14-08-2016', 'Success', 'F9 FT B1026', 'CCAFS LC-40'),
 ('14-01-2017', 'Success', 'F9 FT B1029.1', 'VAFB SLC-4E'),
 ('19-02-2017', 'Success', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('16-03-2017', 'Success', 'F9 FT B1030', 'KSC LC-39A'),
 ('30-03-2017', 'Success', 'F9 FT  B1021.2', 'KSC LC-39A'),
 ('01-05-2017', 'Success', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('15-05-2017', 'Success', 'F9 FT B1034', 'KSC LC-39A'),
 ('03-06-2017', 'Success', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('23-06-2017', 'Success', 'F9 FT  B1029.2', 'KSC LC-39A'),
 ('25-06-2017', 'Success', 'F9 FT B1036.1', 'VAFB SLC-4E'),
 ('05-07-2017', 'Success', 'F9 FT B1037', 'KSC LC-39A'),
 ('14-08-2017', 'Success', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('24-08-2017', 'Success', 'F9 FT B1038.1', 'VAFB SLC-4E'),
 ('07-09-2017', 'Success', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('09-10-2017', 'Success', 'F9 B4 B1041.1', 'VAFB SLC-4E'),
 ('11-10-2017', 'Success', 'F9 FT  B1031.2', 'KSC LC-39A'),
 ('30-10-2017', 'Success', 'F9 B4 B1042.1', 'KSC LC-39A'),
 ('15-12-2017', 'Success', 'F9 FT  B1035.2', 'CCAFS SLC-40'),
 ('23-12-2017', 'Success', 'F9 FT  B1036.2', 'VAFB SLC-4E'),
 ('08-01-2018', 'Success (payload status unclear)', 'F9 B4 B1043.1', 'CCAFS SLC-40'),
 ('31-01-2018', 'Success', 'F9 FT  B1032.2', 'CCAFS SLC-40'),
 ('22-02-2018', 'Success', 'F9 FT  B1038.2', 'VAFB SLC-4E'),
 ('06-03-2018', 'Success', 'F9 B4 B1044', 'CCAFS SLC-40'),
 ('30-03-2018', 'Success', 'F9 B4  B1041.2', 'VAFB SLC-4E'),
 ('02-04-2018', 'Success', 'F9 B4  B1039.2', 'CCAFS SLC-40'),
 ('18-04-2018', 'Success', 'F9 B4 B1045.1', 'CCAFS SLC-40'),
 ('11-05-2018', 'Success', 'F9 B5  B1046.1', 'KSC LC-39A'),
 ('22-05-2018', 'Success', 'F9 B4  B1043.2', 'VAFB SLC-4E'),
 ('04-06-2018', 'Success', 'F9 B4  B1040.2', 'CCAFS SLC-40'),
 ('29-06-2018', 'Success', 'F9 B4 B1045.2', 'CCAFS SLC-40'),
 ('22-07-2018', 'Success', 'F9 B5B1047.1', 'CCAFS SLC-40'),
 ('25-07-2018', 'Success', 'F9 B5B1048.1', 'VAFB SLC-4E'),
 ('07-08-2018', 'Success', 'F9 B5 B1046.2', 'CCAFS SLC-40'),
 ('10-09-2018', 'Success', 'F9 B5B1049.1', 'CCAFS SLC-40'),
 ('08-10-2018', 'Success', 'F9 B5 B1048.2', 'VAFB SLC-4E'),
 ('15-11-2018', 'Success', 'F9 B5 B1047.2', 'KSC LC-39A'),
 ('03-12-2018', 'Success', 'F9 B5 B1046.3', 'VAFB SLC-4E'),
 ('05-12-2018', 'Success', 'F9 B5B1050', 'CCAFS SLC-40'),
 ('23-12-2018', 'Success ', 'F9 B5B1054', 'CCAFS SLC-40'),
 ('11-01-2019', 'Success', 'F9 B5 B1049.2', 'VAFB SLC-4E'),
 ('22-02-2019', 'Success', 'F9 B5 B1048.3', 'CCAFS SLC-40'),
 ('02-03-2019', 'Success', 'F9 B5B1051.1', 'KSC LC-39A'),
 ('04-05-2019', 'Success', 'F9 B5B1056.1 ', 'CCAFS SLC-40'),
 ('24-05-2019', 'Success', 'F9 B5 B1049.3', 'CCAFS SLC-40'),
 ('12-06-2019', 'Success', 'F9 B5 B1051.2 ', 'VAFB SLC-4E'),
 ('25-07-2019', 'Success', 'F9 B5 B1056.2 ', 'CCAFS SLC-40'),
 ('06-08-2019', 'Success', 'F9 B5 B1047.3 ', 'CCAFS SLC-40'),
 ('11-11-2019', 'Success', 'F9 B5 B1048.4', 'CCAFS SLC-40'),
 ('05-12-2019', 'Success', 'F9 B5B1059.1', 'CCAFS SLC-40'),
 ('17-12-2019', 'Success', 'F9 B5 B1056.3 ', 'CCAFS SLC-40'),
 ('07-01-2020', 'Success', 'F9 B5 B1049.4', 'CCAFS SLC-40'),
 ('19-01-2020', 'Success', 'F9 B5 B1046.4', 'KSC LC-39A'),
 ('29-01-2020', 'Success', 'F9 B5 B1051.3', 'CCAFS SLC-40'),
 ('17-02-2020', 'Success', 'F9 B5 B1056.4', 'CCAFS SLC-40'),
 ('07-03-2020', 'Success', 'F9 B5 B1059.2', 'CCAFS SLC-40'),
 ('18-03-2020', 'Success', 'F9 B5 B1048.5', 'KSC LC-39A'),
 ('22-04-2020', 'Success', 'F9 B5 B1051.4', 'KSC LC-39A'),
 ('30-05-2020', 'Success', 'F9 B5B1058.1 ', 'KSC LC-39A'),
 ('04-06-2020', 'Success', 'F9 B5 B1049.5', 'CCAFS SLC-40'),
 ('13-06-2020', 'Success', 'F9 B5 B1059.3', 'CCAFS SLC-40'),
 ('30-06-2020', 'Success', 'F9 B5B1060.1', 'CCAFS SLC-40'),
 ('20-07-2020', 'Success', 'F9 B5 B1058.2 ', 'CCAFS SLC-40'),
 ('07-08-2020', 'Success', 'F9 B5 B1051.5', 'KSC LC-39A'),
 ('18-08-2020', 'Success', 'F9 B5 B1049.6', 'CCAFS SLC-40'),
 ('30-08-2020', 'Success', 'F9 B5 B1059.4', 'CCAFS SLC-40'),
 ('03-09-2020', 'Success', 'F9 B5 B1060.2 ', 'KSC LC-39A'),
 ('06-10-2020', 'Success', 'F9 B5 B1058.3 ', 'KSC LC-39A'),
 ('18-10-2020', 'Success', 'F9 B5 B1051.6', 'KSC LC-39A'),
 ('24-10-2020', 'Success', 'F9 B5 B1060.3', 'CCAFS SLC-40'),
 ('05-11-2020', 'Success', 'F9 B5B1062.1', 'CCAFS SLC-40'),
 ('16-11-2020', 'Success', 'F9 B5B1061.1 ', 'KSC LC-39A'),
 ('21-11-2020', 'Success', 'F9 B5B1063.1', 'VAFB SLC-4E'),
 ('25-11-2020', 'Success', 'F9 B5 B1049.7 ', 'CCAFS SLC-40'),
 ('06-12-2020', 'Success', 'F9 B5 B1058.4 ', 'KSC LC-39A')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [59]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Mission_Outcome ORDER BY COUNT(Mission_Outcome) DESC;

 * sqlite:///my_data1.db
Done.

[]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>